$grey: #232323;
$pink: #EF597A;
$yellow: #FFDB22;
$pink-light: #F8A8BA;
$white: #FFFFFF;

$h1-font: 'pocket_monkregular';
$h2-font: 'pocket_monkregular';
$h3-font: Poppins, sans-serif;
$button-font: Poppins, sans-serif;