$primary: #ffdb22;
$secondary: #232323;
$accent: #ef597a;
$accent-hover: #f8a8ba;
$white: #ffffff;

$h1-font: "pocket_monkregular";
$h2-font: "pocket_monkregular";
$h3-font: Poppins, sans-serif;
$button-font: Poppins, sans-serif;

$font-size-large: 60px;
$font-size-medium: 42px;
$font-size-small: 20px;
$font-size-default: 16px;

$primary-gradient: #53b1d4;
$secondary-gradient: #9edbdf;
$tertiary-gradient: #d2c4db;

h1 {
  font-family: $h1-font;
  font-size: $font-size-large;
  color: $primary;
  -webkit-text-stroke: 1px $secondary;
}

h2 {
  font-family: $h2-font;
  font-size: $font-size-medium;
  color: $primary;
}

h3 {
  font-family: $h3-font;
  font-size: $font-size-small;
  color: $secondary;
}

// Media Queries
$breakpoints: (
  xxs:  0 * 16,
  xs:  330, // 512
  s:   48 * 16, // 768
  m:   64 * 16, // 1024
  l:   96 * 16, // 1536
  xl: 102 * 16  // 1632
);
