@font-face {
    font-family: 'pocket_monkregular';
    src: url('../fonts/pocketmonk-15ze-webfont.eot');
    src: url('../fonts/pocketmonk-15ze-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pocketmonk-15ze-webfont.woff2') format('woff2'),
         url('../fonts/pocketmonk-15ze-webfont.woff') format('woff'),
         url('../fonts/pocketmonk-15ze-webfont.ttf') format('truetype'),
         url('../fonts/pocketmonk-15ze-webfont.svg#pocket_monkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
