.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $button-font;
  font-size: $font-size-default;
  font-weight: bold;
  background-color: $accent;
  color: $white;
  border: none;
  border-radius: 50px;
  width: 250px;
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  &--icon {
    img {
      padding: 1em;
    }
  }
  &--left {
    flex-direction: row-reverse;
    padding-right: 45px;
  }
  &--right {
    padding-left: 45px;
    grid-column-end: 5;
  }
  &:hover {
    background-color: $accent-hover;
  }
}

@media only screen and (max-width: 550px) {
  .button {
    width: 140px;
    &--left {
      margin-left: 10px;
      padding: 0;
    }
    &--right {
      margin-right: 10px;
      padding: 0;
    }
    &--icon {
      img {
        display: none;
      }
    }
  }
}
