.custom-input {
    display: inline-grid;
    margin: 2.5px;
    input[type=checkbox]:checked ~ label {
        box-shadow: inset 0 0 0 2px $accent;
    }
    /*Adds checked effect to faux radio input button*/
    input[type=radio]:checked ~ .custom-input__label--radio:after{
      opacity: 1;
    }
    &__image {
        height: 150px;
        width: 150px;
        padding-bottom: 2rem;
        margin: auto;
    }
    /*Hide browser's default input buttons*/
    &__button {
        opacity: 0;
    }
    &__label {
        display: inline-flex;
        background-color: $white;
        font-family: $button-font;
        font-family: $font-size-default;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 50px;
        padding: 0.7em;
        align-items: center;
        &--checkbox {
            color: $accent;
            width: 7em;
            justify-content: center;
        }
        &--radio {
            color: $secondary;
            width: 25em;
            justify-content: left;
            position: relative;
            /*Faux radio input border*/
            &::before {
              position: relative;
              z-index: 1;
              height: 15px;
              width: 15px;
              border-radius: 50%;
              border: 3.5px solid $accent;
              margin: 0 10px 0 5px;
              cursor: pointer;
              content: '';
            }
            /*Faux radio input circle*/
            &::after {
                content: '';
                position: absolute;
                background-color: $accent;
                top: 19px;
                left: 23px;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                opacity: 0;
            }
        }
    }
}

@media only screen and (max-width: 460px) {
    .custom-input {
        // display: flex;
         &__image {
                height: 135px;
                width: 135px;
        }
        &__label {
            &--radio {
                width: 80vw;
            }
        }
    }
}
