.label {
    display: inline-block;
    background-color: $white;
    font-family: $button-font;
    font-size: $font-size-default;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 0.5em;
    & input[type="checkbox"] {
        opacity: 0;
    }
    &--checkbox {
        color: $accent;
        width: 100px;
    }
    &--radio {
        color: $secondary;
        width: 250px;
    }
}

