.pagination {
    display: flex;
    justify-content: space-evenly;
    
}

@include min-width(bp(s)) {
.pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    margin: 0 1.5rem;
    padding: 2rem;
}
}
