.range-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    &__wrapper {
        background: $white;
        width: 50%;
        padding: 15px 40px;
        border-radius: 50px;
    }
    &__button {
        position: relative;
        z-index: 1;
        width: 100%;
        opacity: 0;
    }
    &__slider {
        position: absolute;
        background-color: $accent-range;
        width: 50%;
        border-radius: 10px;
        margin-top: -24px;
    }
}
