.star-input {
    &__label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            svg {
                fill: $accent;
                transition: ease-in-out .8s;
            }
            h3 {
                color: $white;
                transition: ease-in-out .2s;
            }
        }
    }
    &__button {
        opacity: 0;
    }
    &__svg-star{
        fill: $white;
        height: 100px;
        width: 100px;
        margin: 10px;
        padding: 10px;
    }
    &__star-number {
        font-size: $font-size-small;
        font-family: $h3-font;
        position: absolute;
        top: 40px;
        right: 65px;
    }
}