.star-input {
    &__label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            svg {
                fill: $accent;
                transition: ease-in-out .5s;
            }
            span {
                color: $white;
                transition: ease-in-out .5s;
            }
        }
    }
    &__button {
        opacity: 0;
        &:checked ~ svg {
            fill: $accent;
        }
        &:checked ~ span {
            color: $white;
        }
    }
    &__svg-star{
        fill: $white;
        height: 100px;
        width: 100px;
        margin: 10px;
        padding: 10px;
    }
    &__star-number {
        font-size: $font-size-small;
        font-family: $h3-font;
        font-weight: bold;
        position: absolute;
        top: 60px;
        right: 65px;
    }
}