img {
    margin: 10px;
}

@media screen and (min-width: 768px) {
    .home {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }
};

// @media screen and (max-width: 500px) {
//     img {
//         height: 250px;
//     }
// }