@include min-width(bp(s)) {
    .home {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }
    .shojo-img {
        margin-right: 1em;
    }
    .shonen-img{
        margin-top: 1.5em;
        float: right;
    }
};

@include max-width(bp(s)) {
    img {
        height: 200px;
    }
    h1 {
        font-size: 3em;
    }
    .button {
        margin-bottom: 1em;
    }
}
