img {
    margin: 10px;
}

@include min-width(bp(s)) {
    .home {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
    }
};

@include max-width(bp(s)) {
    img {
        height: 200px;
    }
    h1 {
        font-size: 3em;
    }
    .button {
        margin-bottom: 1em;
    }
}
